<ion-tabs class="tabs-icon-bottom tabs-color-active-light tabs-striped">
	<ion-tab title="消息" icon-on="ion-ios-chatbubble" icon-off="ion-ios-chatbubble-outline" href="tabs/message" badge="2" badge-style="badge-assertive">
		<ion-nav-view name="tab-message"></ion-nav-view>
	</ion-tab>
	<ion-tab title="联系人" icon-on="ion-ios-person" icon-off="ion-ios-person-outline" href="tabs/contacts">
		<ion-nav-view name="tab-contacts"></ion-nav-view>
	</ion-tab>
	<ion-tab title="动态" icon-on="ion-ios-star" icon-off="ion-ios-star-outline" href="tabs/dynamic">
		<ion-nav-view name="tab-dynamic"></ion-nav-view>
	</ion-tab>
</ion-tabs>