<ion-tabs class="tabs-icon-bottom tabs-color-active-calm">
	<ion-tab title="消息" icon-on="icon-msg-on" icon-off="icon-msg-off" href="tabs/message" badge="2" badge-style="badge-assertive">
		<ion-nav-view name="tab-message"></ion-nav-view>
	</ion-tab>
	<ion-tab title="联系人" icon-on="icon-contacts-on" icon-off="icon-contacts-off" href="tabs/contacts">
		<ion-nav-view name="tab-contacts"></ion-nav-view>
	</ion-tab>
	<ion-tab title="动态" icon-on="icon-dynamic-on" icon-off="icon-dynamic-off" href="tabs/dynamic">
		<ion-nav-view name="tab-dynamic"></ion-nav-view>
	</ion-tab>
</ion-tabs>
